* {
    margin: 0;
    padding: 0;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
   text-align: center;
} 
body h1{
    color: goldenrod;
    padding-top: 30px;
    padding-bottom: 50px;
}  
body p{
    color: white;
    font-weight: bold;
    line-height: 50px;
}
.message-el{font-style: italic text-transform: ;
}
button{
    padding: 10px;
    color: #016f32;
    width: 150px;
    font-size: 20px;
    background-color: goldenrod;
}